.bannerItem {
  position: relative;
  background: #f1f1f1;
  padding: 20px;
  margin-top: 20px;
  margin-top: 20px;
  border: 3px dotted transparent;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  font-size: 14px;
}

.box-preview {
  border-right: 1px solid #ccc;
  margin-right: -1px;

}

.box-info {
  border-left: 1px solid #ccc;
  padding: 0 20px;
}

.drop-zone {
  display: inline-block;
  position: relative;
}

.dragover img {
  filter: blur(1px);
}

.dragover > .ol-dragover {
  border: 3px #ccc dotted;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.35) url(/upload.png) no-repeat center;
  background-size: 50px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  margin: 20px;
  padding: 0;
  z-index: 100;
}

.banner-preview {
  max-width: 100%;
  max-height: 350px;
}


.controls > * {
  padding: 5px;
}

.choose-position {
  display: inline-block;
}
