.bannerItem {
  position: relative;
  background: #f1f1f1;
  padding: 20px;
  margin-top: 20px;
  margin-top: 20px;
  border: 3px dotted transparent;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  font-size: 14px;
}

.box-preview {
  border-right: 1px solid #ccc;
  margin-right: -1px;
}

.box-info {
  border-left: 1px solid #ccc;
  padding: 0 20px;
}

.drop-zone {
  display: inline-block;
  position: relative;
}

.dragover img {
  filter: blur(1px);
}

.dragover > .ol-dragover {
  border: 3px #ccc dotted;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.35) url(/upload.png) no-repeat center;
  background-size: 50px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  margin: 20px;
  padding: 0;
  z-index: 100;
}

.banner-preview {
  max-width: 100%;
  max-height: 350px;
}


.controls > * {
  padding: 5px;
}

.choose-position {
  display: inline-block;
}

.info {
  margin-top: 10px;
}

.info .input-group-addon {
  min-width: 100px;
}

.info .input-group {
  margin: 10px 0 0 5px;
}

.info label {
  margin: 10px 0 20px 5px;
}

.react-toggle-thumb {
  box-shadow: none !important;
}

.info .react-toggle-track {
  margin-bottom: -7px;
  margin-right: 10px;
}

.p-term {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 100;
  width: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.32);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.preview-box {
  margin-top: 20px;
  margin-bottom: 40px;
}

.deal {
  border-top: #999 1px solid;
}

.preview-box i {
  font-size: 24px;
}

.deals .panel-body div:first-child .deal{
  border-top: 1px solid transparent;
}

.btn-upload {
  margin-top: 20px;
}

.deal-box {
  position: relative;
}

.btn-add-deal {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
}

.btn-add-deal:hover {
  color: #e91e63;
}
