.content {
  margin-top: 60px;
}

.hidden {
  display: none;
}

.invisible {
  position: fixed;
}

#positions {
  width: 100%;
  transition: all .6s ease-in-out;
}

#positions.small {
  margin-left: 280px;
  width: calc(100% - 310px);
}

#positions .map-position {
  transition: all .6s ease-in-out;
  margin: 0 auto;
  width: 80%;
}

#positions.small .map-position {
  width: 90%;
}
